body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div.container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

div.game-interface {
    display: flex;
    flex-wrap: wrap;
    min-width: 60vw;
    justify-content: space-between;
    align-items: center;
    gap: 8px;  /* check for responsiveness later */
}

button {
    transition: 0.5;
}

button:hover {
    background-color: gold;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

/* general utility CSS */

div.framed {
    border: 2px solid gray;
    border-radius: 10px;
    padding: 8px;
}

/* left panel CSS */

div#left-panel {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    gap: 15px;
}

div#left-panel button {
    padding: 10px;
    border-radius: 10px;
    font-weight: bold;
}

/* game arena CSS */

div.game-area {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 8px;
}

div.game-arena {
    display: flex;
    flex-flow: column nowrap;
    gap: 8px;
}

div.window {
    position: relative;
    width: auto;
    height: 25vh;
}

div.window.framed p {
    /* applies to both comp and user window labels */
    position: absolute;
    top: 0;
    margin-top: -2px;  /* makes sure the top margin blend in with the frame */
    padding: 5px;
    border-radius: 10px;
}

div#comp-display {
    background: url(./imgs/loadingElips.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

div#user-display {
    background: url(./imgs/loadingElips.gif);
    background-repeat: no-repeat;
    background-position: center center;
}

#comp-label {  
    /* positions left and blends in with frame */
    left: 0;
    margin-left: -2px;
}

#user-label {
    /* positions right and blends in with frame */
    right: 0;
    margin-right: -2px;
}

div#user-selections {
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

div#user-selections button {
    border-radius: 10px;
    background-color: #fff;
}

div#user-selections button:hover {
    background-color: gold;
}

div#user-selections img {
    max-width: 100px;
    object-fit: cover;
}

/* round results CSS */

div.round-result {
    display: flex;
    align-items: center;
}
